/*
 * Navigataur: A pure CSS responsive navigation menu
 * Author: Mike King (@micjamking)
 */

/*
 	Notes:
 
 	- Media queries can be should be edited in both style sections if you require 
	  a different breakpoint for your navigation.
	  
	- Anchor tags in list items have box-sizing: border-box style property to allow
      padding inside the container without conflicting with layout.	

 */

/*--------------------------------
 Functional Styles (Required)
---------------------------------*/
.header{
	position: relative;
}

.toggle {
	display: none;
}

.menu > li {
	list-style: none;
	display: inline;	
}

/* Nicolas Gallagher micro clearfix */
.clearfix:before, .clearfix:after{
	display: table;
	content: "";
}

.clearfix:after{
	clear: both;
}

@media only screen and (max-width: 768px){
	.menu{
		opacity: 0;
		width: 100%;
		position: absolute;
		right: 0;
	}
	
	.menu > li {
		display: block;
		width: 100%;
		margin: 0; 
		
	}
	
	.menu > li > a{
		display: block;
		width: 100%;
		text-decoration: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		box-sizing: border-box; 
	}
	
	.toggle {
		display: block;
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	
	.toggle:after {
		position: absolute;
	}
	
	.toggle:checked + .menu {
		opacity: 1;
	}
}


/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/

.header{
	padding: 10px 20px;
	background: #A4B6B0;
	box-shadow: 0px 3px 5px #dfdfdf;
	border-bottom: 5px solid #92A29D;
	height: 55px;
}

.header > h1 {
	float: left;
	font-weight: normal;
	padding: 7px 0 0;
	text-shadow: 1px 1px 1px #92A29D;		
}

.nav{
	float: right;
	margin: 15px 0 0;
}

.menu > li > a{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	text-decoration: none;
	padding: 5px 20px;
	margin: 0 5px;
	background: #92A29D;
	border: 1px solid #788480;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
	font-weight: normal;
}

.menu > li > a:hover, .menu > li > a:focus{
		background: #636D6A;	
}

@media only screen and (max-width: 768px){
	.nav{
		margin: 0;	
	}
	
	.menu{
		top: 75px; /* Set to equal height of header (including padding) */
		background: #788480;
		border-top: 1px solid #666666;
		-webkit-box-shadow: inset 0px 3px 5px #5f6865;
		box-shadow: inset 0px 3px 5px #5f6865;
	}
	
	.menu > li > a{
		padding: 10px;
		margin: 0;
		background: none;
		border: none;
		border-top: 1px solid #7f8c88;
		border-bottom: 1px solid #666666;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		font-size: 24px;
	}
	
	.menu > li:first-child > a{
		border-top: none;	
	}
	
	.menu > li:last-child > a{
		border-bottom: none;	
	}
	
	.menu > li > a:hover, .menu > li > a:focus{
		background: #636D6A;	
	}
	
	.toggle {
		width: 44px;
		height: 44px;
		margin: 5px 0 0;
		background: #92A29D;
		border: 1px solid #788480;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
		-webkit-transition: all 0.25s linear;
		-moz-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
	}
	
	.toggle:checked{
		background: #788480;	
	}
	
	.toggle:after {
		content: "+";
		top: -7px;
		left: 5px;
		font-size: 42px;
		color: #FFFFFF;
	}
	
	.toggle:checked:after {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: 50% 57%;
		-moz-transform-origin: 50% 57%;
		-ms-transform-origin: 50% 57%;
		-o-transform-origin: 50% 57%;
		transform-origin: 50% 57%;
	}
	
	.toggle:checked + .menu {
		-webkit-transition: opacity 0.25s linear;
		-moz-transition: opacity 0.25s linear;
		-o-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
	}
}
