/*
 * Navigataur: A pure CSS responsive navigation menu
 * Author: Mike King (@micjamking)
 */


/*--------------------------------
 Functional Styles (Required)
---------------------------------*/

.toggle {
	display: none;
}

.menu li {
	list-style: none;
	display: inline;	
}

@media only screen and (max-width: 768px){
	.menu{
		opacity: 0;
		width: 100%;
		position: absolute;
		right: 0;
	}
	
	li {
		display: block;
		width: 100%;
		margin: 0;
		
	}
	
	li > a{
		display: block;
		width: 100%;
		text-decoration: none;
	}
	
	.toggle {
		display: block;
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	
	.toggle:after {
		position: absolute;
	}
	
	.toggle:checked + .menu {
		opacity: 1;
	}
}


/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/

@media only screen and (max-width: 768px){
	.menu{
		width: 100%;
		top: 64px; /* Set to equal height of header */
		background: #8a8a8a;
		border-top: 1px solid #666666;
		-webkit-box-shadow: inset 0px 3px 5px #808080;
		box-shadow: inset 0px 3px 5px #808080;
	}
	
	li > a{
		padding: 10px;
		border-top: 1px solid #ADADAD;
		border-bottom: 1px solid #666666;
		font-size: 24px;
		color: #000000;	
	}
	
	li:first-child > a{
		border-top: none;	
	}
	
	li:last-child > a{
		border-bottom: none;	
	}
	
	li > a:hover, li > a:focus{
		background: #666666;	
	}
	
	.toggle {
		width: 44px;
		height: 44px;
		background: #A0A0A0;
		border: 1px solid #666;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 1px 0px #CFCFCF;
		box-shadow: 0px 1px 0px #CFCFCF;
		-webkit-transition: all 0.25s linear;
		-moz-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
	}
	
	.toggle:checked{
		background: #777777;	
	}
	
	.toggle:after {
		content: "+";
		top: -7px;
		left: 5px;
		font-size: 42px;
		color: #FFFFFF;
	}
	
	.toggle:checked:after {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: 50% 57%;
		-moz-transform-origin: 50% 57%;
		-ms-transform-origin: 50% 57%;
		-o-transform-origin: 50% 57%;
		transform-origin: 50% 57%;
	}
	
	.toggle:checked + .menu {
		-webkit-transition: opacity 0.25s linear;
		-moz-transition: opacity 0.25s linear;
		-o-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
	}
}
